@import '../../styles/variables.scss';

.homeHeder {
  background-color: $background-blue-color;
  position: fixed;
  top: 0;
  width: 598px;
  z-index: 10;
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid $border-color-blue-theme;
  padding-left: 10px;
  padding-right: 10px;
}
.hed {
  padding-top: 15px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
}
.btn {
  cursor: pointer;

  p {
    position: relative;
    font-weight: 800;
    text-transform: capitalize;
  }
}
.btn_active {
  cursor: pointer;

  p {
    position: relative;
    font-weight: 800;
    text-transform: capitalize;
    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;

      width: 100%;
      background-color: rgb(16, 79, 119);
      height: 6px;
      border-radius: 10px;
    }
  }
}
