.Header__row {
  min-height: 100vh;
  padding: 0 8px;
}

.Header_wrapper{
  padding: 10px 0 0 0;
}

.Header_wrapper__logo {
  padding-left: 10px;
  width: 52px;
  height: 52px;

  &:hover {
    cursor: pointer;
    background-color: rgb(39,51,64);
    border-radius: 50%;
  }
}

.HeaderBasket {
  display: flex;
  align-items: center;
  gap: 8px;
}

.HeaderFavorites {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basketValue {
  font-size: 22px;
}

.favoritesValue {
  font-size: 22px;
}

.ViewSwitch {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.ViewLayout {
  display: flex;
  align-items: center;
}

.ViewGrid {
  display: flex;
  align-items: center;
}

