@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-size: 100vw;
  height: 100%;
  // color: rgb(21, 32, 43)
}

#root {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  // min-width: 480px;
  min-height: 100%;
  gap: 16px;
  // background-color: rgb(21, 32, 43);
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
}
