* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-size: 100vw;
  height: 100%;
}

#root {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  min-width: 480px;
  min-height: 100%;
  gap: 16px;
}

a {
  text-decoration: none;
}
